<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Задача «PhoneBook Vue»</title>
    <!--<link rel="stylesheet" type="text/css" href="Reset.css">-->
    <link rel="stylesheet" type="text/css" href="node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="SHORTCUT ICON" href="Images/phoneBook.ico" type="image/x-icon">
    <link href="node_modules/@fortawesome/fontawesome-free/css/fontawesome.css" rel="stylesheet">
    <link href="node_modules/@fortawesome/fontawesome-free/css/solid.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="PhoneBookVueStyle.css">
</head>
<body>
    <div v-cloak id="phone-book">
        <delete-modal @confirm-deleting="deleteContacts"
                      @refuse-deleting="clearDeletingContact">
        </delete-modal>

        <div class="container working-area pt-3 mt-2">
            <h3 class="mb-4">
                <span class="badge badge-secondary">L8T2</span>
                Задача "PhoneBook Vue"
            </h3>

            <add-form class="mb-3"
                      @add-new-contact="addNewContact"
                      @check-exist-phone="hasPhone"
                      :has-phone-number="hasPhoneNumber">
            </add-form>

            <search class="mb-3"
                    @search-contacts="getSearchedContacts">
            </search>

            <table-form @show-delete-modal="setDeletingContact"
                        :contacts="contacts"
                        @check-contact="checkContact"
                        :is-all-check="isAllContactsChecked"
                        @check-all="checkTotal">
            </table-form>
        </div>
    </div>

    <script id="delete-modal-template" type="text/x-template">
        <div id="delete-modal-dialog"
             class="modal fade"
             tabindex="-1"
             role="dialog"
             aria-labelledby="deleteMenu"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalCenterTitle">
                            <span class="text-danger mr-3 mdi mdi-delete-forever"></span>
                            Удаление записи
                        </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Удалить без возможности восстановления?
                    </div>
                    <div class="modal-footer">
                        <button type="button"
                                class="btn btn-secondary"
                                data-dismiss="modal"
                                @click="refuseDeleting">
                            Закрыть
                        </button>
                        <button type="button"
                                class="btn btn-danger"
                                @click="confirmDeleting">
                            Удалить
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </script>

    <script id="add-form-template" type="text/x-template">
        <div>
            <h5>Новый контакт</h5>
            <div class="form-row">
                <div class="form-group col-md-3">
                    <input type="text"
                           v-model="newSurname"
                           class="form-control mt-2"
                           :class="{ 'warning-input': isErrorSurname }"
                           placeholder="Фамилия"
                           @change="checkNewSurname">
                    <span class="warning" v-text="errorSurnameMessage"></span>
                </div>
                <div class="form-group col-md-3">
                    <input type="text"
                           v-model="newName"
                           class="form-control mt-2"
                           :class="{ 'warning-input': isErrorName }"
                           placeholder="Имя"
                           @change="checkNewName">
                    <span class="warning" v-text="errorNameMessage"></span>
                </div>
                <div class="form-group col-md-3">
                    <input type="text"
                           v-model="newPhone"
                           class="form-control mt-2"
                           :class="{ 'warning-input': isErrorPhone }"
                           placeholder="Телефон"
                           @change="checkNewPhone">
                    <span class="warning" v-text="errorPhoneMessage"></span>
                </div>
                <div class="form-group col-md-3">
                    <button type="button"
                            class="btn btn-primary btn-icon mt-2"
                            @click="addNewContact">
                        <span class="icon">
                            <i class="fas fa-user-plus"></i>
                        </span>Добавить
                    </button>
                    <button class="btn btn-outline-primary mt-2"
                            @click="newContactClear"
                            type="button">
                        Очистить
                    </button>
                </div>
            </div>
        </div>
    </script>

    <script id="search-template" type="text/x-template">
        <div>
            <div class="form-row">
                <div class="input-group mb-3 col-md-6 col-sm-6 col-xs-6">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="fas fa-search"></i>
                        </span>
                    </div>
                    <input type="text" class="form-control" v-model="term">
                </div>
                <div class="form-group">
                    <button class="btn btn-primary"
                            type="button"
                            @click="search">
                        Найти
                    </button>
                    <button class="btn btn-outline-primary"
                            @click="clearSearch"
                            type="button">
                        Очистить
                    </button>
                </div>
            </div>
        </div>
    </script>

    <script id="table-form-template" type="text/x-template">
        <div class="container">
            <button type="button"
                    class="btn btn-danger btn-icon mb-2 delete-checked-btn"
                    @click="deleteCheckedContacts"
                    data-toggle="modal"
                    data-target="#delete-modal-dialog">
                <span class="icon">
                    <i class="fas fa-user-times"></i>
                </span>Удалить
            </button>
            <div>
                <table class="phone-table table table-sm">
                    <thead class="thead">
                        <tr class=" tr table-info row">
                            <th class="col-md-1 col-sm-1 col-xs-1 ">
                                <input type="checkbox"
                                       class="check-box"
                                       v-model="totalChecked"
                                       @change="check">
                            </th>
                            <th class="th col-md-1 col-sm-1 col-xs-1">№</th>
                            <th class="th col-md-3 col-sm-3 col-xs-3">Фамилия</th>
                            <th class="th col-md-3 col-sm-3 col-xs-3">Имя</th>
                            <th class="th col-md-3 col-sm-3 col-xs-3">Телефон</th>
                            <th class="th col-md-1 col-sm-1 col-xs-1"> <i class="fas fa-user-times"></i></th>
                        </tr>
                    </thead>
                    <tbody class="tbody">
                        <tr class="row tr"
                             v-for="(contact, index) in contacts"
                             :key="contact.id">
                            <td class="align-middle col-md-1 col-sm-1 col-xs-1">
                                <input type="checkbox"
                                       class="check-box"
                                       v-model="contact.checked"
                                       @change="checkContact">
                            </td>
                            <td class="td align-middle col-md-1 col-sm-1 col-xs-1">{{ index + 1 }}.</td>
                            <td class="td align-middle col-md-3 col-sm-3 col-xs-3" v-text="contact.surname"></td>
                            <td class="td align-middle col-md-3 col-sm-3 col-xs-3" v-text="contact.name"></td>
                            <td class="td align-middle col-md-3 col-sm-3 col-xs-3" v-text="contact.phone"></td>
                            <td class="td align-middle col-md-1 col-sm-1 col-xs-1 delete-btn">
                                <button class="btn btn-danger "
                                        type="button"
                                        @click="showDeleteModal(contact)"
                                        data-toggle="modal"
                                        data-target="#delete-modal-dialog">
                                    <i class="fas fa-times"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </script>

    <script src="node_modules/jquery/dist/jquery.min.js"></script>
    <script src="node_modules/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script src="node_modules/vue/dist/vue.js"></script>
    <script src="PhoneBookVueScript.js"></script>
</body>
</html>