<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Задача «PhoneBook Vue»</title>
    <!--<link rel="stylesheet" type="text/css" href="Reset.css">-->
    <link rel="stylesheet" type="text/css" href="node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="SHORTCUT ICON" href="Images/phoneBook.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="PhoneBookVueStyle.css">
</head>
<body>
    <div v-cloak id="my-form">
        <div class="container">
            <h1>TODO List</h1>

            <add-form @add-todo="addItem" />

            <ul>
                <todo-item v-for="item in items"
                           :item="item"
                           @delete-item="deleteTodo"
                           :key="item.id" />
            </ul>
        </div>
    </div>

    <script id="add-form-template" type="text/x-template">
        <div>
            <form class="form-inline">
                <input type="text" v-model="newTodoText" class="form-control mb-2 mr-sm-2" placeholder="Enter TODO">
                <button class="btn btn-primary mb-2" @click="addTodo" type="button">Add</button>
            </form>
            <div v-if="errorMessage" v-text="errorMessage" class="error-message"></div>
        </div>
    </script>

    <script id="todo-item-template" type="text/x-template">
        <li class="mb-2">
            <span v-text="item.text"></span>
            <button @click="deleteItem" class="ml-2 btn btn-danger" type="button">&times;</button>
        </li>
    </script>

    <script src="node_modules/jquery/dist/jquery.min.js"></script>
    <script src="node_modules/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script src="node_modules/vue/dist/vue.js"></script>
    <script src="PhoneBookVueScript.js"></script>
</body>
</html>