body {
    font-family: Calibri, Corbel, sans-serif;
    font-size: 25px;
    color: #030512;
}

.working-area {
    max-width: 875px;
    height: auto;
    margin: 0 auto;
    padding-top: 20px;
    position: relative;
}

.people-table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #cccccc;
}

.column-1 {
    max-width: 156px;
}

.column-2 {
    max-width: 153px;
}

.column-3 {
    max-width: 292px;
}

.people-table td {
    padding: 14px 10px 12px;
    border: 1px solid #cccccc;
}

.people-table thead th {
    text-align: left;
    padding: 14px 10px 12px;
    color: #fefeff;
    border: 1px solid #cccccc;
    /*font-weight: bold;*/
    background-color: #3498db;
}

.people-table tbody tr:nth-child(odd) {
    background-color: #eeeeee;
}
