* {
    box-sizing: border-box;
}

body {
    background-color: #feeed6;
    font-family: Arial, sans-serif;
    font-size: 17px;
    color: #676565;
}

.working-area {
    padding: 6px 11px 0 11px;
    max-width: 831px;
}

.header {
    margin-bottom: 0.59em;
    padding-left: 0;
    line-height: 1.14;
    font-size: 30px;
}

.condition {
    margin-top: 15px;
    font-size: 18px;
}

.info-container {
    margin-top: 18px;
    width: 100%;
}

    .info-container .small-header {
        font-size: 18px;
    }

.info {
    margin-top: 10px;
    text-indent: 1.0em;
    text-align: justify;
    line-height: 1.45;
    word-spacing: 1px;
    padding-bottom: 2px;
}

.small-header {
    color: #3d90b3;
    font-weight: bold;
}
