* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #676565;
    font-size: 16px;
}

.working-area {
    max-width: 840px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.user-form-head {
    font-size: 33px;
    height: 42px;
    padding-top: 8px;
    padding-left: 21px;
    letter-spacing: 0.02ex;
    margin-bottom: 5px;
}

.user-info-form {
    padding-left: 20px;
    padding-top: 19px;
    padding-right: 20px;
    background-color: #feeed6;
}

.form-inner-part {
    position: relative;
}

.user-info-form .input-text {
    border: none;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 11px 10px 9px 14px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 21px;
}

.input-text.comment-area {
    margin-bottom: 17px;
    max-width: 100%;
    min-width: 100%;
}

.user-info-form label {
    margin-bottom: 9px;
    display: block;
    font-weight: bold;
}

.comment-area {
    height: 130px;
}

.input-text::-webkit-input-placeholder {
    color: #ababab;
}

.input-text::-moz-placeholder {
    color: #ababab;
}

.note {
    display: inline-block;
    margin-bottom: 68px;
}

.submit-button {
    background-color: #378db2;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    width: 169px;
    height: 37px;
    position: absolute;
    bottom: 16px;
    right: 20px;
    border: 0;
    float: right;
    cursor: pointer;
}

    .submit-button:hover {
        background-color: #225971;
    }

    .submit-button:active {
        background-color: #00a2e8;
    }
