body {
    font-family: Arial, Helvetica, sans-serif;
    color: #676565;
    font-size: 16px;
}

.sample-image {
    width: 840px;
    height: 576px;
    position: absolute;
    top: 0;
    z-index: -1;
    display: none; /*Возможность добавлять на экран для сравнения. Нужно закоментить свойство*/
}

.user-form-head {
    font-size: 33px;
    box-sizing: border-box;
    height: 42px;
    padding-top: 8px;
    padding-left: 21px;
    letter-spacing: 0.02ex;
    margin-bottom: 5px;
}

.working-area {
    max-width: 840px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.user-info-form {
    padding-left: 20px;
    padding-top: 19px;
    padding-right: 20px;
    background-color: #feeed6;
    /*background-color: transparent;*/ /*Возможность добавлять на экран для сравнения. Нужно раскоментить свойство*/
    box-sizing: border-box;
}

.form-inner-part {
    position: relative;
}

.input-text {
    border: none;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 11px 10px 9px 14px;
    font-size: 16px;
    margin-bottom: 21px;
    /*background-color: transparent;*/ /*Возможность добавлять на экран для сравнения. Нужно раскоментить свойство*/
}

    .input-text.comment-area {
        padding: 8px 10px 9px 14px;
        letter-spacing: 0.07ex;
        font-size: 18px;
        margin-bottom: 17px;
        max-width: 800px;
        font-family: Arial Narrow, Arial;
    }

.caption {
    margin-bottom: 9px;
    display: block;
    font-weight: bold;
}

.comment-area {
    height: 130px;
}

.input-text::-webkit-input-placeholder {
    color: #ababab;
}

.input-text::-moz-placeholder {
    color: #ababab;
}

.note {
    display: inline-block;
    margin-bottom: 68px;
}

.submit-button {
    background-color: #378db2;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    width: 169px;
    height: 37px;
    position: absolute;
    bottom: 16px;
    right: 20px;
    border: 0;
    float: right;
}

    .submit-button:hover {
        background-color: #225971;
        cursor: pointer;
    }

    .submit-button:active {
        background-color: #00a2e8;
        cursor: pointer;
    }
