{% extends 'layout.twig' %}

{% block body %}
	{% verbatim %}
		<table class="table table-striped">
			<thead>
				<tr>
					<th>#</th>
					<th>Name</th>
					<th>Phone</th>
					<th>&times;</th>
				</tr>
			</thead>
			<tbody>
				<tr : key="c.id" v-for="(c,index) in contacts">
					<td>{{ index+1 }}.</td>
					<td v-text="c.name"></td>
					<td v-text="c.phone"></td>
					<td>
						<button type="button"
							class="btn btn-danger"
							@click="deleteContact(c)">&times;</button>
					</td>
				</tr>				
			</tbody >
		</table >
	{% endverbatim %}
{% endblock %}
