<!DOCTYPE html>
<html>
  <head>
	<meta charset="text/html; UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>L9T1PhoneBookServer</title>

	<link rel="stylesheet" href="/libs/bootstrap.min.css" />
	<link rel="stylesheet" href="/libs/fontawesome.css" />
    <link rel="stylesheet" href="/libs/solid.css" />
	<link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    {% block body %}{% endblock %}

	<script src="/libs/jquery.min.js"></script>
	<script src="/libs/vue.min.js"></script>
    <script src="/libs/bootstrap.bundle.min.js"></script>
	<script src="/js/phoneBook.js"></script>
  </body>
</html>
