body {
    background-color: #f1f3f4;
}

.main-container {
    margin: 0 auto;
}

.border-round {
    border-radius: 5px;
}

.add-button {
    float: right;
    margin: 28px 0 0 0;
}


.grey-background {
    background-color:  #fafafa;
}