body {
    background-color: #f1f3f4;
}

.main-container {
    margin: 0 auto;
}

.border-round {
    border-radius: 5px;
}

.add-button {
    float: right;
    margin-top: -42px;
}

.warning-message {
    color: #ff5252;
    font-size: 12px;
}

    .warning-message.new-task {
        margin: -20px 0 0 30px; 
    }

.grey-background {
    background-color:  #fafafa;
}

/*.v-input--selection-controls__ripple.primary--text {
    background-color: aqua;
}*/
