body {
    background-color: #e9e9e9;
    height: 100%;
    width: 100%;
    font-family: Calibri, Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.area {
    width: 800px;
    margin: 0 auto;
}

    .area div.working-area {
        height: 100%;
        box-shadow: 0 0 10px rgba(0,0,0,0.5);
        width: 800px;
        position: fixed;
        background-color: #fff;
        padding: 20px;
    }

.working-area h1 {
    font-weight: bold;
    font-size: 30px;
    margin: 10px 0 40px;
}

    .working-area h1:first-letter {
        color: #f00;
    }

.working-area .input-temperature {
    height: 34px;
    display: inline-block;
    float: left;
    margin-right: -31px;
}

.convert-button {
    height: 30px;
    width: 30px;
    box-sizing: border-box;
    border-radius: 15px;
    border: none;
    /*background-color: aquamarine;*/
    outline: none;
    cursor: pointer;
    display: inline-block;
    float: left;
    /*margin-left: 20px;*/
    align-content: center;
    padding: 1px;
    margin-top: 2px;
    background-color: #f1f1f1;
}
.convert-button img {
    height: 28px;
    width: 28px;
    /*padding: 0;*/
    display: block;
    border: none;


}

.input-area {
    height: 34px;
    /*background-color: blueviolet;*/
    /*vertical-align: middle;*/
}

.convert-button:hover {
    box-shadow: 0 0 2px rgba(0,0,255,1);
    cursor: pointer;
    background-color: #d9d9d9;
}

.convert-button:active {
    box-shadow: 0 0 2px rgba(0,0,255,1);
    cursor: pointer;
    background-color: #cdcdcd;
}

.input-area::after {
    content: "";
    display: block;
    clear: both;
}

.input-area input {
    margin-left: 10px;
    display: inline-block;
    box-sizing: border-box;
    height: 34px;
    width: 200px;
    border-radius: 17px;
    padding-left: 10px;
    /*border: 1px solid #a1a1a1;*/
    border: none;
    outline: none;
    /*background-color: #ebebeb;*/
    box-shadow: 0 0 2px rgba(205,205,205,1);
}

    .input-area input:hover {
        box-shadow: 0 0 2px rgba(0,0,255,1);
    }

.input-area input:focus {
    box-shadow: 0 0 2px rgba(0,0,255,1);
}

.converter-container h2 {
    display: block;
    font-weight: bold;
    font-size: 25px;
    margin: 20px 0 30px 0;
}

.output-area .caption {
    display: inline-block;
    box-sizing: border-box;
    width: 190px;
}

.output-area span {
    margin-bottom: 15px;
}

.output-temperature {
    color: #0f54e1;
    display: inline-block;
    box-sizing: border-box;
    min-width: 100px;
    text-align: right;
    background-color: #f7f9e9;
}
