<!DOCTYPE html>
<html>
  <head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <title>Modules</title>

    <link rel="stylesheet" type="text/css" href="/css/Reset.css">
    <link rel="stylesheet" type="text/css" href="/css/ModulesStyle.css">

    <link rel="SHORTCUT ICON" href="/images/m.ico" type="image/x-icon">
  </head>
  <body>
  <div>лотпрплорп: kjhlkjh{{title}}</div>
    {% block body %}{% endblock %}
  </body>
</html>
